<!-- Back button start -->
<header>
    <a href="/" class="backBtn ps-3"><i class="containerText1  fa-solid fa-6x fa-angle-left"></i></a>
</header>
<!-- Back button end -->

<!-- University icon start -->
<div class="container-fluid d-flex justify-content-center pt-4">
    <h2 class="containerText1 display-1" style="text-shadow: 2px 2px black;"><i class="fa fa-3x fa-university" aria-hidden="true"></i></h2>
</div>
<!-- University icon end -->

<!-- University form start -->
<div class="container-fluid d-flex justify-content-center pt-2">
    <form action="/auth/login" class="pb-3 ps-3 w-75">
        <div class="input-group mb-3 row">
            <div class="col col-xl-12">
                {{{universities.label}}}
                {{{universities.body}}}
                <datalist id="universities">
                {{#each universities.data as |university|}}
                    <option>{{university.title}}, {{university.abbreviation}}</option>
                {{/each}}
                </datalist>
                {{{universities.error}}}
            </div>
        </div>
        <div id="list" class="input-group mb-3 row" style="display: none;">
            <div class="col col-xl-12">

                {{{faculties.label}}}
                {{{faculties.body}}}
                <datalist id="faculties">
                    {{#each faculties.data as |faculty|}}
                        <option>{{faculty.title}}, {{faculty.abbreviation}}</option>
                    {{/each}}
                </datalist>
                {{{faculties.error}}}
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-center col col-xl-12">
                <button id="submit" type="submit" class="btn mainBtn mt-5 pt-2 me-3" disabled><h4>Submit</h4></button>
            </div>
        </div>
    </form>
</div>
<!-- University form end -->

<!-- Logo start -->
<footer class="d-flex justify-content-end mt-auto">
    <img src="../images/logo.png" alt="DIDEdu logo" class="pe-3">
</footer>
<!-- Logo end -->